Repository penxle/readable, changes with the owners that .github/CODEOWNERS names for each.
All owners: @devunt, @robin-maki, @Seohyun-Roh, @dolsup

슬랙 external api 리뉴얼 (#1435)
  apps/api/src/env.ts
  apps/api/src/external/slack.ts
  apps/api/src/graphql/feedback.ts
  apps/api/src/utils/slack.ts
Owners: @devunt, @robin-maki

피드백에 이미지 첨부 (#1434)
  apps/dashboard/src/lib/utils/blob.svelte
  apps/dashboard/src/routes/(default)/[teamId]/@header/FeedbackModal.svelte
Owners: @Seohyun-Roh, @dolsup

VirtualElement 리팩토링 (#1436)
  apps/dashboard/src/routes/(default)/[teamId]/[siteId]/(page)/[pageId]/@menus/VirtualElement.svelte
  apps/usersite/src/routes/(default)/[...slug]/@floating/VirtualElement.svelte
Owners: @Seohyun-Roh, @dolsup

코멘트 버튼 디자인 수정, 코멘트 수 표시 (#1437)
  apps/dashboard/src/routes/(default)/[teamId]/[siteId]/(page)/[pageId]/@menus/Comment.svelte
Owners: @Seohyun-Roh, @dolsup

widget.pages.lookup 프로시져에 fallback 응답 추가 (#1438)
  apps/api/src/trpc/widget.ts
  sdks/browser-sdk/src/Widget.svelte
Owners: @devunt, @robin-maki

위젯 LLM 폴백으로 많이 본 페이지 추가
  apps/api/src/trpc/widget.ts
Owners: @devunt, @robin-maki

위젯 리뉴얼 퍼블리싱
  sdks/browser-sdk/src/Widget.svelte
  sdks/browser-sdk/src/assets/Sparkles.svelte
  sdks/browser-sdk/src/assets/readable-logo.svg
Owners: @devunt

코멘트 팝오버 디자인 반영 및 기능 개선 (#1440)
  apps/dashboard/src/routes/(default)/[teamId]/[siteId]/(page)/[pageId]/@menus/CommentPopover.svelte
  apps/dashboard/src/routes/(default)/[teamId]/[siteId]/(page)/[pageId]/@menus/Handler.svelte
Owners: @Seohyun-Roh, @dolsup

코멘트 팝오버 크기 조절 (#1443)
  apps/dashboard/src/routes/(default)/[teamId]/[siteId]/(page)/[pageId]/@menus/CommentPopover.svelte
Owners: @Seohyun-Roh, @dolsup

위젯 리뉴얼
  bun.lockb
  sdks/browser-sdk/package.json
  sdks/browser-sdk/src/Widget.svelte
  sdks/browser-sdk/src/assets/Sparkle.svelte
  sdks/browser-sdk/src/assets/SparkleSmall.svelte
  sdks/browser-sdk/src/assets/SparklesSmall.svelte
  sdks/browser-sdk/src/assets/strings.ts
  sdks/browser-sdk/src/components/BotMessage.svelte
  sdks/browser-sdk/src/components/OtherOptions.svelte
  sdks/browser-sdk/src/components/index.ts
Owners: @devunt

위젯 리뉴얼 퍼블리싱 (#1441)
  bun.lockb
  sdks/browser-sdk/package.json
  sdks/browser-sdk/src/Widget.svelte
  sdks/browser-sdk/src/assets/Sparkle.svelte
  sdks/browser-sdk/src/assets/SparkleSmall.svelte
  sdks/browser-sdk/src/assets/Sparkles.svelte
  sdks/browser-sdk/src/assets/SparklesSmall.svelte
  sdks/browser-sdk/src/assets/readable-logo.svg
  sdks/browser-sdk/src/assets/strings.ts
  sdks/browser-sdk/src/components/BotMessage.svelte
  sdks/browser-sdk/src/components/OtherOptions.svelte
  sdks/browser-sdk/src/components/index.ts
Owners: @devunt

위젯 애니메이션 복원 (#1444)
  sdks/browser-sdk/src/Widget.svelte
Owners: @devunt

위젯 응답 조건식 수정 (#1445)
  sdks/browser-sdk/src/Widget.svelte
Owners: @devunt

시각보정 (#1446)
  sdks/browser-sdk/src/Widget.svelte
Owners: @devunt

위젯 믹스패널 이벤트 이름 살짝 수정 (#1447)
  sdks/browser-sdk/src/Widget.svelte
Owners: @devunt

코멘트와 위젯 디자인 수정사항 반영 (#1448)
  apps/dashboard/src/routes/(default)/[teamId]/[siteId]/(page)/[pageId]/@menus/CommentPopover.svelte
  sdks/browser-sdk/src/Widget.svelte
  sdks/browser-sdk/src/components/BotMessage.svelte
Owners: @Seohyun-Roh, @dolsup, @devunt

사이트 방문자 수 통계 gql (#1320)
  apps/api/schema.graphql
  apps/api/src/graphql/analytics.ts
  apps/api/src/graphql/index.ts
Owners: @devunt, @robin-maki

llms.chat.ask 컨텍스트 transform 프롬프트 개선 (#1449)
  apps/api/src/llms/chat.ts
Owners: @devunt, @robin-maki

랜딩 페이지 플랜 가격 수정 (#1450)
  apps/website/src/routes/pricing/+page.svelte
Owners: @Seohyun-Roh, @dolsup

위젯 디자인 수정 반영 (#1452)
  sdks/browser-sdk/src/Widget.svelte
Owners: @devunt

새 코멘트 입력창 가로 크기 수정 (#1451)
  apps/dashboard/src/routes/(default)/[teamId]/[siteId]/(page)/[pageId]/@menus/CommentPopover.svelte
Owners: @Seohyun-Roh, @dolsup

위젯 내 페이지 오픈 기반 코드 (#1454)
  apps/api/src/trpc/widget.ts
  packages/ui/src/notification/toast/store.ts
  packages/ui/src/tiptap/lib/create.ts
  packages/ui/src/tiptap/node-views/embed/Component.svelte
  sdks/browser-sdk/src/Widget.svelte
  sdks/browser-sdk/src/app.css
  sdks/browser-sdk/src/components/PageContent.svelte
Owners: @devunt, @robin-maki, @Seohyun-Roh, @dolsup

PublicPage 이전/다음 페이지 (#1453)
  apps/api/schema.graphql
  apps/api/src/graphql/page.ts
Owners: @devunt, @robin-maki

위젯 textarea가 항상 보이도록 수정 (#1455)
  sdks/browser-sdk/src/Widget.svelte
Owners: @devunt

사이트 이전/다음 페이지 CTE를 이용하게 수정 (#1457)
  apps/api/src/graphql/page.ts
  apps/api/src/utils/site.ts
Owners: @devunt, @robin-maki

사이트 리스트 캐시 (#1458)
  apps/api/src/utils/cache.ts
  apps/api/src/utils/site.ts
Owners: @devunt, @robin-maki

콜아웃 이모지 6개로 줄임 (#1459)
  apps/dashboard/package.json
  apps/usersite/package.json
  bun.lockb
  cspell.json
  packages/ui/src/tiptap/node-views/callout/Component.svelte
  packages/ui/src/tiptap/node-views/callout/Emoji.svelte
  packages/ui/src/tiptap/node-views/callout/Picker.svelte
  packages/ui/src/tiptap/node-views/callout/index.ts
  packages/ui/src/tiptap/node-views/callout/server.ts
Owners: @Seohyun-Roh, @dolsup, @devunt

이전 글/다음 글 (#1456)
  apps/usersite/src/routes/(default)/[...slug]/+page.svelte
Owners: @Seohyun-Roh, @dolsup

카테고리명에도 line clamp 적용 (#1460)
  apps/usersite/src/routes/(default)/[...slug]/+page.svelte
Owners: @Seohyun-Roh, @dolsup

디펜던시 업그레이드 (#1461)
  apps/api/package.json
  apps/dashboard/package.json
  apps/infrastructure/package.json
  apps/literoom/package.json
  apps/usersite/package.json
  apps/website/package.json
  bun.lockb
  package.json
  packages/adapter-bun/package.json
  packages/gql/package.json
  packages/lib/package.json
  packages/lintconfig/package.json
  packages/pulumi/package.json
  packages/styled-system/package.json
  packages/ui/package.json
  sdks/browser-sdk/package.json
Owners: @devunt, @robin-maki, @Seohyun-Roh, @dolsup

콜아웃 이모지 없을 때 렌더링 실패하는 버그 수정 (#1462)
  packages/ui/src/tiptap/node-views/callout/Component.svelte
Owners: @Seohyun-Roh, @dolsup

cached 유틸리티 추가 (#1463)
  apps/api/src/cache.ts
Owners: @devunt, @robin-maki

위젯에서 유저사이트 iframe으로 렌더링하도록 변경 (#1465)
  apps/usersite/src/routes/r/[id]/+page.svelte
  apps/usersite/src/routes/r/[id]/+page.ts
  sdks/browser-sdk/src/Widget.svelte
  sdks/browser-sdk/src/components/PageContent.svelte
Owners: @Seohyun-Roh, @dolsup, @devunt

api 서버에서 usersite 오버라이드 방식 변경 (#1464)
  apps/api/src/context.ts
  apps/api/src/env.ts
  apps/api/src/graphql/site.ts
  apps/api/src/trpc/widget.ts
Owners: @devunt, @robin-maki

콘텐츠 최신화 플랜 제한 추가
  apps/api/src/graphql/uptodate.ts
  apps/api/src/utils/plan.ts
Owners: @devunt, @robin-maki

usersite-proxy에서 헬스체크 로그 비활성화 (#1466)
  apps/usersite/pulumi/index.ts
Owners: @Seohyun-Roh, @dolsup

이전글/다음글 자잘한 디자인 수정사항 반영 (#1467)
  apps/usersite/src/routes/(default)/[...slug]/+page.svelte
Owners: @Seohyun-Roh, @dolsup

사이트 바로가기 버튼 아이콘 변경 (#1468)
  apps/dashboard/src/routes/(default)/[teamId]/[siteId]/+layout.svelte
Owners: @Seohyun-Roh, @dolsup

trpc 페이지 목록에 미리보기 텍스트 추가 (#1469)
  apps/api/src/trpc/widget.ts
Owners: @devunt, @robin-maki

svelte 5.1.17로 다운그레이드 (#1470)
  apps/dashboard/package.json
  apps/usersite/package.json
  apps/website/package.json
  bun.lockb
  packages/gql/package.json
  packages/lib/package.json
  packages/ui/package.json
  sdks/browser-sdk/package.json
  syncpack.config.cjs
Owners: @Seohyun-Roh, @dolsup, @devunt

.github/CODEOWNERS:

* @devunt
/apps/api/ @devunt @robin-maki
/apps/dashboard/ @Seohyun-Roh @dolsup
/apps/infrastructure/ @devunt
/apps/literoom/ @devunt
/apps/usersite/ @Seohyun-Roh @dolsup
/apps/website/ @Seohyun-Roh @dolsup
/packages/adapter-bun/ @devunt
/packages/gql/ @devunt
/packages/lintconfig/ @devunt
/packages/pulumi/ @devunt
/packages/tsconfig/ @devunt
/packages/ui/ @Seohyun-Roh @dolsup
