Repository penxle/readable, changes with the owners that .github/CODEOWNERS names for each.
All owners: @devunt, @robin-maki, @Seohyun-Roh, @dolsup

불렛리스트 정렬 안되는 문제 해결 (#1313)
  packages/ui/src/tiptap/schema.ts
Owners: @Seohyun-Roh, @dolsup

믹스패널에 신규 가입 여부 추적 (#1314)
  apps/api/schema.graphql
  apps/api/src/graphql/auth.ts
  apps/dashboard/src/routes/auth/email/+page.svelte
  apps/dashboard/src/routes/auth/sso/google/+page.svelte
Owners: @devunt, @robin-maki, @Seohyun-Roh, @dolsup

eks 1.31 업그레이드 (#1315)
  apps/infrastructure/pulumi/aws/eks.ts
  apps/infrastructure/pulumi/k8s/kube-system/karpenter.ts
Owners: @devunt

aws/k8s 인증 방식 정리 (#1316)
  apps/infrastructure/Pulumi.base.yaml
  apps/infrastructure/pulumi/aws/billing.ts
  apps/infrastructure/pulumi/aws/iam.ts
  apps/infrastructure/pulumi/aws/providers.ts
Owners: @devunt

iam 리소스 정리 (#1317)
  apps/infrastructure/pulumi/aws/iam.ts
Owners: @devunt

eks 접근 권한 정리 (#1318)
  .github/workflows/cd-dev.yml
  .github/workflows/cd-prod.yml
  apps/infrastructure/pulumi/aws/eks.ts
  apps/infrastructure/pulumi/aws/iam.ts
Owners: @devunt

팁탭 list 렌더링 수정 (#1319)
  packages/ui/src/tiptap/schema.ts
Owners: @Seohyun-Roh, @dolsup

팁탭 호버 메뉴가 다른 요소 위로 튀어나오는 문제 수정 (#1321)
  apps/dashboard/src/routes/(default)/[teamId]/[siteId]/(page)/[pageId]/@menus/Handler.svelte
  apps/dashboard/src/routes/(default)/[teamId]/[siteId]/(page)/[pageId]/@menus/VirtualElement.svelte
  apps/dashboard/src/routes/(default)/[teamId]/[siteId]/(page)/[pageId]/Editor.svelte
Owners: @Seohyun-Roh, @dolsup

팁탭 블록 호버 메뉴 렌더링시 불필요한 포탈 삭제 (#1322)
  apps/dashboard/src/routes/(default)/[teamId]/[siteId]/(page)/[pageId]/@menus/Handler.svelte
  apps/dashboard/src/routes/(default)/[teamId]/[siteId]/(page)/[pageId]/@menus/VirtualElement.svelte
  apps/dashboard/src/routes/(default)/[teamId]/[siteId]/(page)/[pageId]/Editor.svelte
Owners: @Seohyun-Roh, @dolsup

eks serviceaccount 권한 격리 (#1323)
  apps/infrastructure/pulumi/aws/eks.ts
  apps/infrastructure/pulumi/k8s/infra/meilisearch.ts
  apps/infrastructure/pulumi/k8s/kube-system/karpenter.ts
  apps/infrastructure/pulumi/k8s/misc/storage-class.ts
Owners: @devunt

eks efs throughput mode bursting으로 변경 (#1324)
  apps/infrastructure/pulumi/aws/efs.ts
Owners: @devunt

origin shield 비활성화 (#1325)
  apps/infrastructure/pulumi/aws/cloudfront.ts
  packages/pulumi/src/site.ts
Owners: @devunt

github organization 이름 변경 (#1326)
  .github/workflows/cd-dev.yml
  .github/workflows/cd-prod.yml
  .github/workflows/ci.yml
  apps/dashboard/src/routes/auth/login/+page.svelte
  apps/dashboard/src/routes/auth/login/email/+page.svelte
  apps/infrastructure/pulumi/aws/iam.ts
Owners: @devunt, @Seohyun-Roh, @dolsup

사이트 방문자 수 통계 gql (#1320)
  apps/api/schema.graphql
  apps/api/src/graphql/analytics.ts
  apps/api/src/graphql/index.ts
Owners: @devunt, @robin-maki

헤더 링크 수정시 캐시 초기화 (#1327)
  apps/api/src/graphql/site.ts
Owners: @devunt, @robin-maki

모바일에서 사이트 이름과 헤더링크버튼 영역이 겹치는 문제 수정 (#1328)
  apps/usersite/src/routes/(default)/+layout.svelte
Owners: @Seohyun-Roh, @dolsup

ui state가 서버에서 공유되지 않도록 함 (#1329)
  apps/usersite/src/app.d.ts
  apps/usersite/src/lib/stores/ui.ts
  apps/usersite/src/routes/(default)/+layout.svelte
  apps/usersite/src/routes/(default)/MobileSidebar.svelte
  apps/usersite/src/routes/(default)/Navigation.svelte
  apps/usersite/src/routes/(default)/SearchBar.svelte
  apps/usersite/src/routes/(default)/[...slug]/+page.svelte
  apps/usersite/src/routes/+layout.svelte
Owners: @Seohyun-Roh, @dolsup

인프라에서 데이터독 제거 (#1330)
  apps/api/scripts/seed.sql
  apps/infrastructure/pulumi/aws/iam.ts
  apps/infrastructure/pulumi/k8s/monitoring/datadog.ts
  apps/infrastructure/pulumi/k8s/monitoring/dbm.ts
  apps/infrastructure/pulumi/k8s/monitoring/index.ts
Owners: @devunt, @robin-maki

디펜던시 업그레이드 (#1331)
  apps/api/package.json
  apps/dashboard/package.json
  apps/infrastructure/package.json
  apps/literoom/package.json
  apps/usersite/package.json
  apps/website/package.json
  bun.lockb
  packages/adapter-bun/package.json
  packages/gql/package.json
  packages/lib/package.json
  packages/pulumi/package.json
  packages/ui/package.json
  sdks/browser-sdk/package.json
Owners: @devunt, @robin-maki, @Seohyun-Roh, @dolsup

인프라 격리에 direnv 이용 (#1332)
  .envrc
  apps/infrastructure/Pulumi.base.yaml
  apps/infrastructure/pulumi/aws/providers.ts
  kubeconfig
Owners: @devunt

eks fargate 네이밍 변경 (#1333)
  apps/infrastructure/pulumi/aws/eks.ts
  apps/infrastructure/pulumi/k8s/kube-system/karpenter.ts
Owners: @devunt

위젯이 그 어떤 상황에서도 가장 위에 뜨도록 수정 (#1334)
  bun.lockb
  sdks/browser-sdk/pulumi/index.ts
  sdks/browser-sdk/src/App.svelte
  sdks/browser-sdk/src/Widget.svelte
  sdks/browser-sdk/src/app.d.ts
  sdks/browser-sdk/src/script.ts
Owners: @devunt

AI 관련 기능 전체 재작성 (#1335)
  apps/api/drizzle/0013_naive_menace.sql
  apps/api/drizzle/meta/0013_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/package.json
  apps/api/src/db/schemas/tables.ts
  apps/api/src/external/langchain.ts
  apps/api/src/graphql/search.ts
  apps/api/src/jobs/page.ts
  apps/api/src/prompt/natural-language-search.ts
  apps/api/src/prompt/widget.ts
  apps/api/src/rest/widget.ts
  bun.lockb
  sdks/browser-sdk/package.json
  sdks/browser-sdk/src/Widget.svelte
  sdks/browser-sdk/vite.config.ts
Owners: @devunt, @robin-maki

위젯 포지션 버그 수정 (#1336)
  sdks/browser-sdk/src/Widget.svelte
Owners: @devunt

위젯 쿼리에 캐시 추가 (#1337)
  apps/api/drizzle/0014_amusing_pretty_boy.sql
  apps/api/drizzle/meta/0014_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/package.json
  apps/api/src/db/schemas/tables.ts
  apps/api/src/external/langchain.ts
  apps/api/src/graphql/search.ts
  apps/api/src/jobs/page.ts
  apps/api/src/prompt/widget.ts
  apps/api/src/rest/widget.ts
  bun.lockb
Owners: @devunt, @robin-maki

페이지 및 카테고리 slug validation 버그 수정 (#1338)
  apps/api/src/graphql/page.ts
  apps/api/src/schemas.ts
Owners: @devunt, @robin-maki

위젯 코드 일부 개선 (#1339)
  apps/api/src/rest/widget.ts
  sdks/browser-sdk/src/Widget.svelte
Owners: @devunt, @robin-maki

표 양옆 여백 삭제 (#1340)
  packages/ui/src/tiptap/node-views/table/Component.svelte
Owners: @Seohyun-Roh, @dolsup

pre tag 마주치면 코드블럭으로 파싱함 (#1341)
  packages/ui/src/tiptap/lib/create.ts
  packages/ui/src/tiptap/node-views/code-block/index.ts
Owners: @Seohyun-Roh, @dolsup

redis -> valkey 업그레이드 (#1342)
  apps/infrastructure/pulumi/aws/elasticache.ts
Owners: @devunt

사파리에서 에디터 동작 안 하는 문제 해결 (#1343)
  packages/ui/src/tiptap/menus/slash/extension.ts
Owners: @Seohyun-Roh, @dolsup

collab cursor 제대로 보이지 않던 버그 수정 (#1345)
  apps/dashboard/src/routes/(default)/[teamId]/[siteId]/(page)/[pageId]/Editor.svelte
  packages/ui/src/tiptap/node-views/table/Component.svelte
Owners: @Seohyun-Roh, @dolsup

불필요해진 workaround 제거 (#1344)
  packages/ui/src/tiptap/components/TiptapEditor.svelte
Owners: @Seohyun-Roh, @dolsup

콘텐츠 최신화가 langchain 이용하도록 변경 (#1347)
  apps/api/package.json
  apps/api/src/env.ts
  apps/api/src/external/openai.ts
  apps/api/src/graphql/search.ts
  apps/api/src/graphql/uptodate.ts
  apps/api/src/prompt/fix-by-change.ts
  bun.lockb
Owners: @devunt, @robin-maki

온보딩 페이지 반응형 (#1346)
  apps/dashboard/src/routes/new/+layout.svelte
  apps/dashboard/src/routes/new/+page.svelte
Owners: @Seohyun-Roh, @dolsup

llm 프롬프트 입출력 타입 지정 (#1348)
  apps/api/src/prompt/fix-by-change.ts
  apps/api/src/prompt/natural-language-search.ts
Owners: @devunt, @robin-maki

전체적인 AI 프롬프트 정리 (#1351)
  apps/api/package.json
  apps/api/src/external/langchain.ts
  apps/api/src/prompt/fix-by-change.ts
  apps/api/src/prompt/natural-language-search.ts
  apps/infrastructure/pulumi/k8s/infra/alb.ts
  bun.lockb
Owners: @devunt, @robin-maki

유저사이트 헤딩 앵커 (#1349)
  apps/usersite/src/app.css
  apps/usersite/src/routes/(default)/[...slug]/+page.svelte
  apps/usersite/src/routes/(default)/[...slug]/@floating/Handler.svelte
  apps/usersite/src/routes/(default)/[...slug]/@floating/VirtualElement.svelte
Owners: @Seohyun-Roh, @dolsup

ul, ol 루트 첫 li의 margin-top을 0으로 (#1350)
  packages/ui/src/tiptap/schema.ts
  packages/ui/styles/prose.css
Owners: @Seohyun-Roh, @dolsup

svelte 5 fix
  apps/dashboard/src/routes/(default)/[teamId]/[siteId]/(page)/[pageId]/@menus/VirtualElement.svelte
  apps/dashboard/src/routes/(default)/[teamId]/[siteId]/@page-tree/PageList.svelte
  apps/usersite/src/routes/(default)/[...slug]/@floating/VirtualElement.svelte
  packages/ui/src/components/MenuItem.svelte
  packages/ui/src/tiptap/menus/bubble/extension.svelte.ts
  packages/ui/src/tiptap/menus/link-tooltip/extension.svelte.ts
  packages/ui/src/tiptap/menus/slash/extension.svelte.ts
  sdks/browser-sdk/src/Widget.svelte
  sdks/browser-sdk/src/components/Icon.svelte
Owners: @Seohyun-Roh, @dolsup, @devunt

.github/CODEOWNERS:

* @devunt
/apps/api/ @devunt @robin-maki
/apps/dashboard/ @Seohyun-Roh @dolsup
/apps/infrastructure/ @devunt
/apps/literoom/ @devunt
/apps/usersite/ @Seohyun-Roh @dolsup
/apps/website/ @Seohyun-Roh @dolsup
/packages/adapter-bun/ @devunt
/packages/gql/ @devunt
/packages/lintconfig/ @devunt
/packages/pulumi/ @devunt
/packages/tsconfig/ @devunt
/packages/ui/ @Seohyun-Roh @dolsup
