Repository penxle/readable, changes with the owners that .github/CODEOWNERS names for each.
All owners: @devunt, @robin-maki, @Seohyun-Roh, @dolsup

디펜던시 업그레이드 (#1472)
  apps/api/package.json
  apps/dashboard/package.json
  apps/usersite/package.json
  apps/website/package.json
  bun.lockb
  package.json
  packages/gql/package.json
  packages/lib/package.json
  packages/ui/package.json
  sdks/browser-sdk/package.json
  syncpack.config.cjs
Owners: @devunt, @robin-maki, @Seohyun-Roh, @dolsup

파일 다운로드 블록 전체가 버튼 (#1474)
  packages/ui/src/tiptap/node-views/file/Component.svelte
Owners: @Seohyun-Roh, @dolsup

팁탭 문서 텍스트로 렌더할 때 탭 노드의 제목 포함함 (#1473)
  apps/api/src/graphql/page.ts
  apps/api/src/jobs/page.ts
  packages/ui/src/tiptap/node-views/tabs/server.ts
Owners: @devunt, @robin-maki, @Seohyun-Roh, @dolsup

카테고리나 페이지 주소는 하이픈으로 시작하거나 끝날 수 없어요 (#1475)
  apps/api/src/schemas.ts
Owners: @devunt, @robin-maki

유저사이트 특수 페이지들 `/_/` 밑에 몰아넣음 (#1476)
  apps/usersite/src/routes/_/go/[id]/+page.svelte
  apps/usersite/src/routes/_/go/[id]/+page.ts
  apps/usersite/src/routes/_/render/[id]/+page.svelte
  apps/usersite/src/routes/_/render/[id]/+page.ts
  packages/ui/src/tiptap/schema.ts
  sdks/browser-sdk/src/Widget.svelte
  sdks/browser-sdk/src/components/PageContent.svelte
Owners: @Seohyun-Roh, @dolsup, @devunt

trpc.widget.page.breadcrumbs 프로시져 추가 (#1479)
  apps/api/src/trpc/widget.ts
Owners: @devunt, @robin-maki

text underline offset 2px (#1478)
  packages/ui/src/tiptap/schema.ts
Owners: @Seohyun-Roh, @dolsup

페이지 카테고리 이동시 하위 페이지도 카테고리 재귀적 이동 (#1477)
  apps/api/src/graphql/page.ts
Owners: @devunt, @robin-maki

위젯 v2 (#1480)
  apps/usersite/src/routes/_/render/[id]/+page.svelte
  sdks/browser-sdk/src/Widget.svelte
  sdks/browser-sdk/src/components/BotMessage.svelte
  sdks/browser-sdk/src/components/PageContent.svelte
Owners: @Seohyun-Roh, @dolsup, @devunt

유저사이트 렌더 페이지에서 모든 링크 외부 링크로 열리도록 함 (#1481)
  apps/usersite/src/routes/_/render/[id]/+page.svelte
Owners: @Seohyun-Roh, @dolsup

유저사이트 렌더 프레임 탈출 버그 수정 (#1483)
  apps/usersite/src/routes/_/render/[id]/+page.svelte
Owners: @Seohyun-Roh, @dolsup

페이지 이동시 sql 오타 수정 (#1482)
  apps/api/src/graphql/page.ts
Owners: @devunt, @robin-maki

위젯 추천 문서 많이 나왔을 때 위젯 바디만 스크롤되도록 함 (#1484)
  sdks/browser-sdk/src/Widget.svelte
Owners: @devunt

대시보드 섹션 리뉴얼 반영 (#1485)
  apps/website/src/routes/+layout.svelte
  apps/website/src/routes/+page.svelte
  apps/website/src/routes/DashboardSection.svelte
  apps/website/src/routes/HeroSection.svelte
Owners: @Seohyun-Roh, @dolsup

랜딩 히어로, 헤더 수정 (#1486)
  apps/website/src/assets/hero/dashboard-mockup.webp
  apps/website/src/assets/hero/editor-mockup.webp
  apps/website/src/assets/hero/site-mockup.webp
  apps/website/src/assets/hero/widget-mockup.webp
  apps/website/src/routes/+page.svelte
  apps/website/src/routes/Header.svelte
  apps/website/src/routes/HeroSection.svelte
  apps/website/src/routes/Tabs.svelte
Owners: @Seohyun-Roh, @dolsup

랜딩 후킹 섹션 디자인 수정 (#1487)
  apps/website/src/routes/HookingSection.svelte
Owners: @Seohyun-Roh, @dolsup

랜딩 검색, SEO, 접근성 섹션 디자인 수정 (#1488)
  apps/website/src/assets/a11y-section/keyboard.svg
  apps/website/src/assets/a11y-section/responsive.svg
  apps/website/src/assets/a11y-section/screen-reader.svg
  apps/website/src/routes/+page.svelte
  apps/website/src/routes/A11ySection.svelte
  apps/website/src/routes/MachineFriendlySection.svelte
  apps/website/src/routes/SearchSection.svelte
  apps/website/src/routes/SectionTitle.svelte
Owners: @Seohyun-Roh, @dolsup

랜딩 CTA 섹션, 푸터 디자인 수정 (#1489)
  apps/website/src/routes/+layout.svelte
  apps/website/src/routes/CtaSection.svelte
Owners: @Seohyun-Roh, @dolsup

랜딩 위젯 섹션 추가 / 헤더 배경색 디버그 (#1490)
  apps/website/src/assets/widget-section/widget-1.webp
  apps/website/src/assets/widget-section/widget-2.webp
  apps/website/src/assets/widget-section/widget-demo.mp4
  apps/website/src/assets/widget-section/widget-demo.webm
  apps/website/src/routes/+page.svelte
  apps/website/src/routes/Header.svelte
  apps/website/src/routes/WidgetSection.svelte
Owners: @Seohyun-Roh, @dolsup

도커 이미지용 bun 버전 1.1.34로 다운그레이드 및 고정 (#1491)
  Dockerfile
Owners: @devunt

웹사이트에 컴패니언 위젯 부착 (#1492)
  apps/website/src/routes/+layout.svelte
Owners: @Seohyun-Roh, @dolsup

랜딩 자잘한 문구 수정 (#1493)
  apps/website/src/routes/HookingSection.svelte
  apps/website/src/routes/WidgetSection.svelte
Owners: @Seohyun-Roh, @dolsup

md에서 위젯섹션 카드 좌우로 배치 (#1494)
  apps/website/src/routes/WidgetSection.svelte
Owners: @Seohyun-Roh, @dolsup

섹션 제목 애니메이션 추가 (#1495)
  apps/website/src/routes/A11ySection.svelte
  apps/website/src/routes/DashboardSection.svelte
  apps/website/src/routes/MachineFriendlySection.svelte
  apps/website/src/routes/SearchSection.svelte
  apps/website/src/routes/SectionTitle.svelte
  apps/website/src/routes/WidgetSection.svelte
Owners: @Seohyun-Roh, @dolsup

랜딩 자잘한 디자인 수정 (#1497)
  apps/website/src/routes/A11ySection.svelte
  apps/website/src/routes/MachineFriendlySection.svelte
Owners: @Seohyun-Roh, @dolsup

add playsinline for video (#1496)
  apps/website/src/routes/WidgetSection.svelte
Owners: @Seohyun-Roh, @dolsup

후킹섹션 애니메이션 효과 추가 (#1498)
  apps/website/src/routes/HookingSection.svelte
Owners: @Seohyun-Roh, @dolsup

embed description pre-wrap -> pre-line으로 변경 (#1500)
  packages/ui/src/tiptap/node-views/embed/Component.svelte
Owners: @Seohyun-Roh, @dolsup

유저사이트 프레임 탈출 버그 추가 수정 (#1501)
  apps/usersite/src/routes/_/render/[id]/+page.svelte
Owners: @Seohyun-Roh, @dolsup

헤더 blur offset 수정 및 레이아웃 쉬프트 해결 (#1502)
  apps/website/src/routes/Header.svelte
Owners: @Seohyun-Roh, @dolsup

히어로섹션 버튼 크기 맞춤 (#1503)
  apps/website/src/routes/HeroSection.svelte
Owners: @Seohyun-Roh, @dolsup

위젯 페이지 위아래 그라데이션 추가 (#1504)
  apps/usersite/src/routes/_/render/[id]/+page.svelte
  sdks/browser-sdk/src/components/PageContent.svelte
Owners: @Seohyun-Roh, @dolsup, @devunt

위젯에서 인라인 스타일 전체 제거 (#1499)
  sdks/browser-sdk/src/App.svelte
  sdks/browser-sdk/src/Widget.svelte
  sdks/browser-sdk/src/script.ts
  sdks/browser-sdk/src/vite/css.js
  sdks/browser-sdk/svelte.config.js
  sdks/browser-sdk/vite.config.ts
Owners: @devunt

검색어 로깅 (#1471)
  apps/api/drizzle/0018_kind_centennial.sql
  apps/api/drizzle/meta/0018_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/db/schemas/tables.ts
  apps/api/src/rest/index.ts
  apps/api/src/rest/logs.ts
  apps/usersite/package.json
  apps/usersite/src/lib/utils/track.ts
  apps/usersite/src/routes/(default)/SearchBar.svelte
  bun.lockb
Owners: @devunt, @robin-maki, @Seohyun-Roh, @dolsup

fingerprintjs dynamic import함 (#1505)
  apps/usersite/src/lib/utils/track.ts
Owners: @Seohyun-Roh, @dolsup

임시 정기결제 스크립트
  apps/api/package.json
  apps/api/scripts/period-payment-temp.ts
  bun.lockb
Owners: @devunt, @robin-maki

탭 안에 코드블럭 넣을 수 있도록 함 (#1507)
  packages/ui/src/tiptap/node-views/tabs/index.ts
  packages/ui/src/tiptap/node-views/tabs/server.ts
Owners: @Seohyun-Roh, @dolsup

탭 여백 z-index 수정 (#1508)
  packages/ui/src/tiptap/node-views/tabs/Component.svelte
Owners: @Seohyun-Roh, @dolsup

.github/CODEOWNERS:

* @devunt
/apps/api/ @devunt @robin-maki
/apps/dashboard/ @Seohyun-Roh @dolsup
/apps/infrastructure/ @devunt
/apps/literoom/ @devunt
/apps/usersite/ @Seohyun-Roh @dolsup
/apps/website/ @Seohyun-Roh @dolsup
/packages/adapter-bun/ @devunt
/packages/gql/ @devunt
/packages/lintconfig/ @devunt
/packages/pulumi/ @devunt
/packages/tsconfig/ @devunt
/packages/ui/ @Seohyun-Roh @dolsup
