Repository penxle/readable, changes with the owners that .github/CODEOWNERS names for each.
All owners: @devunt, @robin-maki, @Seohyun-Roh, @dolsup

자잘한 에러 핸들링 (#1395)
  apps/dashboard/src/routes/(default)/[teamId]/(dashboard)/members/+page.svelte
  apps/dashboard/src/routes/(default)/[teamId]/[siteId]/@modals/ModifyUrlModal.svelte
  apps/dashboard/src/routes/(default)/[teamId]/[siteId]/settings/domain/+page.svelte
Owners: @Seohyun-Roh, @dolsup

디펜던시 업그레이드 (#1394)
  apps/api/package.json
  apps/api/scripts/reset-billing-keys.ts
  apps/api/src/external/portone.ts
  apps/api/src/jobs/cron/index.ts
  apps/dashboard/package.json
  apps/infrastructure/package.json
  apps/literoom/package.json
  apps/literoom/tsup.config.ts
  apps/usersite/package.json
  apps/website/package.json
  bun.lockb
  package.json
  packages/adapter-bun/package.json
  packages/gql/package.json
  packages/lib/package.json
  packages/pulumi/package.json
  packages/styled-system/package.json
  packages/ui/package.json
  sdks/browser-sdk/package.json
Owners: @devunt, @robin-maki, @Seohyun-Roh, @dolsup

llm 청크 마크다운으로 전환 (#1397)
  apps/api/src/external/langchain.ts
  apps/api/src/jobs/page.ts
  packages/ui/src/tiptap/markdown.ts
  packages/ui/src/tiptap/server.ts
Owners: @devunt, @robin-maki, @Seohyun-Roh, @dolsup

llm 일부 파라메터 조정 (#1399)
  apps/api/src/external/langchain.ts
  apps/api/src/llms/chat.ts
Owners: @devunt, @robin-maki

위젯 채팅 기능 (#1396)
  packages/ui/src/components/TextInput.svelte
  sdks/browser-sdk/src/Widget.svelte
  sdks/browser-sdk/src/assets/AiLoading.svelte
  sdks/browser-sdk/src/assets/Sparkle.svelte
  sdks/browser-sdk/src/assets/SparkleSmall.svelte
Owners: @Seohyun-Roh, @dolsup, @devunt

MarkdownRenderer 컴포넌트화 (#1398)
  apps/usersite/package.json
  apps/usersite/src/routes/(default)/SearchBar.svelte
  bun.lockb
  packages/ui/package.json
  packages/ui/src/components/MarkdownRenderer.svelte
  packages/ui/src/components/index.ts
  sdks/browser-sdk/src/Widget.svelte
Owners: @Seohyun-Roh, @dolsup, @devunt

위젯 질문 말풍선 애니메이션 (#1400)
  sdks/browser-sdk/src/Widget.svelte
Owners: @devunt

위젯 헤더 사이트 이름 하드코딩 제거 (#1401)
  sdks/browser-sdk/src/Widget.svelte
Owners: @devunt

위젯 Sparkle에 간단한 애니메이션 (#1402)
  sdks/browser-sdk/src/Widget.svelte
  sdks/browser-sdk/src/assets/Sparkle.svelte
Owners: @devunt

llm.chat에서 질문 변환시 기존 대화와의 문맥적 유사도 고려함 (#1405)
  apps/api/src/llms/chat.ts
Owners: @devunt, @robin-maki

위젯에서 사이트 새 탭으로 열기 (#1403)
  sdks/browser-sdk/src/Widget.svelte
Owners: @devunt

위젯 사이즈 조정 (#1404)
  sdks/browser-sdk/src/Widget.svelte
Owners: @devunt

겹친 요소가 채팅 내역 스크롤링을 막지 않도록 함 (#1406)
  sdks/browser-sdk/src/Widget.svelte
Owners: @devunt

위젯 플랜 제한 추가 (#1408)
  apps/api/scripts/seed.ts
  apps/api/src/db/schemas/json.ts
  apps/api/src/trpc/widget.ts
  apps/api/src/utils/plan.ts
Owners: @devunt, @robin-maki

CommentPopover 닫기 버튼 추가 (#1407)
  apps/dashboard/src/routes/(default)/[teamId]/[siteId]/(page)/[pageId]/@menus/CommentPopover.svelte
Owners: @Seohyun-Roh, @dolsup

위젯 AI 검색 -> AI 문의 (#1409)
  sdks/browser-sdk/src/Widget.svelte
Owners: @devunt

사이트 위젯 설정 구현 (#1410)
  apps/api/drizzle/0015_talented_trauma.sql
  apps/api/drizzle/meta/0015_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/schema.graphql
  apps/api/src/db/schemas/tables.ts
  apps/api/src/graphql/objects.ts
  apps/api/src/graphql/site.ts
  apps/api/src/trpc/widget.ts
Owners: @devunt, @robin-maki

위젯에서 문의 버튼 보이기 (#1411)
  sdks/browser-sdk/src/Widget.svelte
Owners: @devunt

Site에서 SiteWidget 쿼리할 수 있도록 함 (#1412)
  apps/api/schema.graphql
  apps/api/src/graphql/site.ts
Owners: @devunt, @robin-maki

사이트 위젯 설정 (#1413)
  apps/dashboard/src/routes/(default)/[teamId]/[siteId]/settings/+layout.svelte
  apps/dashboard/src/routes/(default)/[teamId]/[siteId]/settings/widget/+page.svelte
  apps/dashboard/src/routes/(default)/[teamId]/[siteId]/settings/widget/+page.ts
Owners: @Seohyun-Roh, @dolsup

drizzle 새 constraint 문법 적용 (#1414)
  apps/api/src/db/schemas/tables.ts
Owners: @devunt, @robin-maki

AI 챗 기록 DB에 기록함 (#1415)
  apps/api/drizzle/0016_violet_mauler.sql
  apps/api/drizzle/meta/0016_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/schema.graphql
  apps/api/src/db/schemas/enums.ts
  apps/api/src/db/schemas/tables.ts
  apps/api/src/enums.ts
  apps/api/src/llms/chat.ts
  apps/api/src/trpc/widget.ts
  sdks/browser-sdk/src/Widget.svelte
Owners: @devunt, @robin-maki

fetch exchange에서 exception 핸들링 추가 (#1416)
  packages/gql/src/exchange/fetch.ts
Owners: @devunt

유저사이트 새로고침하면 스크롤 포지션 리셋되는 문제 해결 (#1417)
  packages/ui/src/components/Img.svelte
  packages/ui/src/tiptap/components/TiptapRenderer.svelte
Owners: @Seohyun-Roh, @dolsup

이미지 로드시 깜빡이는 버그 수정 (#1418)
  packages/ui/src/components/Img.svelte
Owners: @Seohyun-Roh, @dolsup

AI 관련 기능 이것 저것 개선 (#1419)
  apps/api/scripts/page-summarize-all.ts
  apps/api/src/external/langchain.ts
  apps/api/src/graphql/search.ts
  apps/api/src/jobs/page.ts
  apps/api/src/llms/chat.ts
  apps/api/src/trpc/widget.ts
  cspell.json
  packages/ui/src/tiptap/markdown.ts
Owners: @devunt, @robin-maki, @Seohyun-Roh, @dolsup

graphql 에러 핸들링 일원화 (#1420)
  apps/api/src/builder.ts
  apps/api/src/errors.ts
  apps/api/src/graphql/page.ts
  apps/dashboard/src/lib/graphql/index.ts
  apps/usersite/src/lib/graphql/index.ts
  packages/gql/src/client/index.ts
  packages/gql/src/runtime/error.ts
  packages/gql/src/runtime/index.ts
  packages/gql/src/vite/transform-load.ts
Owners: @devunt, @robin-maki, @Seohyun-Roh, @dolsup

통계용 view 생성 (#1421)
  apps/api/drizzle/0017_awesome_sunspot.sql
  apps/api/drizzle/meta/0017_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/db/index.ts
  apps/api/src/db/schemas/views.ts
Owners: @devunt, @robin-maki

일부 패키지 external 옵션 조정 (#1422)
  apps/literoom/tsup.config.ts
  apps/website/vite.config.ts
Owners: @devunt, @Seohyun-Roh, @dolsup

editor undefined일 경우 처리 (#1423)
  apps/usersite/src/routes/(default)/[...slug]/@floating/VirtualElement.svelte
  packages/ui/src/tiptap/lib/renderer.svelte.ts
  packages/ui/src/tiptap/menus/bubble/Component.svelte
Owners: @Seohyun-Roh, @dolsup

페이지/카테고리 slug validation schema 오류 수정 (#1424)
  apps/api/src/schemas.ts
Owners: @devunt, @robin-maki

llm 초기 응답 언어 조정 (#1425)
  apps/api/src/llms/chat.ts
  apps/api/src/trpc/widget.ts
Owners: @devunt, @robin-maki

outLink null로 지정할 수 있도록 함 (#1426)
  apps/dashboard/src/routes/(default)/[teamId]/[siteId]/settings/widget/+page.svelte
Owners: @Seohyun-Roh, @dolsup

위젯에 mixpanel 코드 추가 (#1427)
  sdks/browser-sdk/src/Widget.svelte
Owners: @devunt

플랜 안내에서 애드온 삭제 (#1428)
  apps/dashboard/src/routes/(default)/[teamId]/(dashboard)/settings/plan/+page.svelte
  apps/website/src/routes/pricing/+page.svelte
Owners: @Seohyun-Roh, @dolsup

콘텐츠 최신화 버튼 위치 변경 (#1429)
  apps/dashboard/src/routes/(default)/[teamId]/[siteId]/+layout.svelte
  apps/dashboard/src/routes/(default)/[teamId]/[siteId]/LeftSideBar.svelte
Owners: @Seohyun-Roh, @dolsup

위젯 mixpanel init (#1430)
  sdks/browser-sdk/src/script.ts
Owners: @devunt

위젯 믹스패널 관련 이것저것 수정 (#1431)
  bun.lockb
  doppler.yaml
  sdks/browser-sdk/package.json
  sdks/browser-sdk/src/Widget.svelte
  sdks/browser-sdk/src/script.ts
Owners: @devunt

위젯 프로시져 이름 사소한 변경 (#1432)
  apps/api/src/trpc/widget.ts
  sdks/browser-sdk/package.json
  sdks/browser-sdk/src/Widget.svelte
Owners: @devunt, @robin-maki

유저사이트에서 writable store를 $state로 대체 (#1433)
  apps/usersite/src/app.d.ts
  apps/usersite/src/routes/(default)/+layout.svelte
  apps/usersite/src/routes/(default)/MobileSidebar.svelte
  apps/usersite/src/routes/(default)/Navigation.svelte
  apps/usersite/src/routes/(default)/SearchBar.svelte
  apps/usersite/src/routes/(default)/[...slug]/+page.svelte
  apps/usersite/src/routes/+layout.svelte
Owners: @Seohyun-Roh, @dolsup

.github/CODEOWNERS:

* @devunt
/apps/api/ @devunt @robin-maki
/apps/dashboard/ @Seohyun-Roh @dolsup
/apps/infrastructure/ @devunt
/apps/literoom/ @devunt
/apps/usersite/ @Seohyun-Roh @dolsup
/apps/website/ @Seohyun-Roh @dolsup
/packages/adapter-bun/ @devunt
/packages/gql/ @devunt
/packages/lintconfig/ @devunt
/packages/pulumi/ @devunt
/packages/styled-system/ @Seohyun-Roh @dolsup
/packages/tsconfig/ @devunt
/packages/ui/ @Seohyun-Roh @dolsup
