Repository penxle/readable, changes with the owners that .github/CODEOWNERS names for each.
All owners: @devunt, @robin-maki, @Seohyun-Roh, @dolsup

svelte 5 업그레이드 후 발생한 버그 수정 (#1354)
  apps/dashboard/src/lib/components/invoke-alert/AlertBuilder.svelte
  apps/dashboard/src/routes/(default)/[teamId]/(dashboard)/settings/(index)/+page.svelte
  apps/dashboard/src/routes/(default)/[teamId]/+layout.svelte
  apps/dashboard/src/routes/(default)/[teamId]/@header/UserMenu.svelte
  apps/dashboard/src/routes/(default)/[teamId]/@modals/PlanCycleToggle.svelte
  apps/dashboard/src/routes/(default)/[teamId]/[siteId]/(page)/[pageId]/@menus/VirtualElement.svelte
  apps/dashboard/src/routes/(default)/[teamId]/[siteId]/(page)/[pageId]/Editor.svelte
  apps/dashboard/src/routes/(default)/[teamId]/[siteId]/+layout.svelte
  apps/dashboard/src/routes/(default)/[teamId]/[siteId]/@modals/FindOutdatedsModal.svelte
  apps/dashboard/src/routes/(default)/[teamId]/[siteId]/@modals/ModifyUrlModal.svelte
  apps/dashboard/src/routes/(default)/[teamId]/[siteId]/@page-tree/PageItem.svelte
  apps/dashboard/src/routes/(default)/[teamId]/[siteId]/settings/(index)/+page.svelte
  apps/dashboard/src/routes/(default)/[teamId]/[siteId]/settings/domain/+page.svelte
  apps/dashboard/src/routes/(default)/[teamId]/[siteId]/settings/link/+page.svelte
  apps/dashboard/src/routes/(default)/[teamId]/[siteId]/settings/theme/+page.svelte
  apps/dashboard/src/routes/auth/login/email/+page.svelte
  apps/usersite/src/routes/(default)/[...slug]/@floating/VirtualElement.svelte
  apps/usersite/src/routes/(default)/[...slug]/Toc.svelte
  apps/website/src/routes/SegmentButtons.svelte
  packages/ui/src/components/FormValidationMessage.svelte
  packages/ui/src/components/SegmentButtons.svelte
  packages/ui/src/tiptap/lib/DomOutputSpecRenderer.svelte
  packages/ui/src/tiptap/node-views/callout/Component.svelte
  packages/ui/src/tiptap/node-views/code-block/Menu.svelte
  packages/ui/src/tiptap/node-views/embed/Component.svelte
  packages/ui/src/tiptap/node-views/table/Component.svelte
  sdks/browser-sdk/src/Widget.svelte
Owners: @Seohyun-Roh, @dolsup, @devunt

유저사이트 본문 이미지 확대 안 나타나는 버그 수정 (#1355)
  packages/ui/src/tiptap/node-views/image/Enlarge.svelte
Owners: @Seohyun-Roh, @dolsup

editor?.off (#1356)
  apps/dashboard/src/routes/(default)/[teamId]/[siteId]/(page)/[pageId]/@menus/VirtualElement.svelte
Owners: @Seohyun-Roh, @dolsup

pageContentSyncStream 데이터 처리시 현재 페이지 체크함 (#1357)
  apps/dashboard/src/routes/(default)/[teamId]/[siteId]/(page)/[pageId]/Editor.svelte
Owners: @Seohyun-Roh, @dolsup

shiki 싱글턴 인스턴스 이용함 (#1358)
  packages/ui/src/tiptap/node-views/code-block/index.ts
Owners: @Seohyun-Roh, @dolsup

linkifyjs 경고 제거 (#1359)
  packages/ui/src/tiptap/schema.ts
Owners: @Seohyun-Roh, @dolsup

유저사이트 사이드바 자동 스크롤 안 되던 버그 수정 (#1360)
  apps/usersite/src/routes/(default)/Navigation.svelte
Owners: @Seohyun-Roh, @dolsup

팁탭 탭 노드 고장난거 고침 (#1361)
  apps/usersite/src/routes/(default)/[...slug]/+page.svelte
  packages/ui/src/tiptap/components/TiptapRenderer.svelte
  packages/ui/src/tiptap/node-views/tabs/Component.svelte
  packages/ui/styles/prose.css
Owners: @Seohyun-Roh, @dolsup

슬래시 메뉴 state 버그 수정 (#1362)
  packages/ui/src/tiptap/menus/slash/extension.svelte.ts
Owners: @Seohyun-Roh, @dolsup

svelte action 코드 svelte 5에 맞춰 수정 (#1363)
  packages/ui/src/actions/floating.svelte.ts
  packages/ui/src/actions/hover.svelte.ts
  packages/ui/src/actions/hover.ts
  packages/ui/src/actions/index.ts
  packages/ui/src/actions/portal.svelte.ts
  packages/ui/src/actions/scroll-lock.svelte.ts
  packages/ui/src/actions/scroll-lock.ts
Owners: @Seohyun-Roh, @dolsup

fix page tree reactivity (#1364)
  apps/dashboard/src/routes/(default)/[teamId]/[siteId]/@page-tree/PageItem.svelte
  apps/dashboard/src/routes/(default)/[teamId]/[siteId]/@page-tree/PageList.svelte
Owners: @Seohyun-Roh, @dolsup

슬래시 메뉴 z-index 조정 (#1365)
  packages/ui/src/tiptap/menus/slash/extension.svelte.ts
Owners: @Seohyun-Roh, @dolsup

portal action이 dom 마운트 이전에 실행되도록 수정 (#1366)
  packages/ui/src/actions/portal.svelte.ts
Owners: @Seohyun-Roh, @dolsup

depth 2 이상 li가 margin-top이 0이 되는 css 버그 해결 (#1367)
  packages/ui/styles/prose.css
Owners: @Seohyun-Roh, @dolsup

팁탭 테이블 hasSpan 반환 버그 수정 (#1368)
  packages/ui/src/tiptap/node-views/table/Component.svelte
Owners: @Seohyun-Roh, @dolsup

병합된 열이 있는 경우에도 ColHandle이 제 위치에 뜨게 함 (#1369)
  packages/ui/src/tiptap/node-views/table/Component.svelte
Owners: @Seohyun-Roh, @dolsup

메뉴 열린 후 input focus되지 않는 문제 수정 (#1370)
  packages/ui/src/tiptap/node-views/code-block/Menu.svelte
  packages/ui/src/tiptap/node-views/embed/Component.svelte
Owners: @Seohyun-Roh, @dolsup

위젯이 styled-system과 ui 패키지 이용하도록 함 (#1371)
  bun.lockb
  sdks/browser-sdk/package.json
  sdks/browser-sdk/panda.config.ts
  sdks/browser-sdk/src/Widget.svelte
  sdks/browser-sdk/src/components/Icon.svelte
  sdks/browser-sdk/src/components/index.ts
  sdks/browser-sdk/tsconfig.json
  sdks/browser-sdk/vite.config.ts
Owners: @devunt

자잘한 인프라 업데이트 (#1372)
  apps/infrastructure/pulumi/aws/cloudfront.ts
  apps/infrastructure/pulumi/aws/s3.ts
  apps/infrastructure/pulumi/k8s/kube-system/karpenter.ts
Owners: @devunt

자잘한 인프라 코드 개선 (#1373)
  apps/infrastructure/pulumi/k8s/kube-system/aws-load-balancer-controller.ts
  apps/literoom/pulumi/index.ts
Owners: @devunt

웹서버로 hono 이용함 (#1374)
  apps/api/package.json
  apps/api/src/handler.ts
  apps/api/src/main.ts
  apps/api/src/rest/caddy.ts
  apps/api/src/rest/healthz.ts
  apps/api/src/rest/index.ts
  apps/api/src/rest/opengraph.tsx
  apps/api/src/rest/widget.ts
  bun.lockb
  cspell.json
  packages/adapter-bun/package.json
  packages/adapter-bun/src/serve.js
  packages/lib/package.json
  packages/lib/src/bun.ts
Owners: @devunt, @robin-maki

API <-> 위젯 통신에 trpc 이용 (#1375)
  apps/api/package.json
  apps/api/src/main.ts
  apps/api/src/rest/index.ts
  apps/api/src/rest/widget.ts
  apps/api/src/trpc/index.ts
  apps/api/src/trpc/trpc.ts
  apps/api/src/trpc/widget.ts
  bun.lockb
  sdks/browser-sdk/package.json
  sdks/browser-sdk/src/Widget.svelte
  sdks/browser-sdk/src/trpc.ts
  sdks/browser-sdk/tsconfig.json
Owners: @devunt, @robin-maki

Img 컴포넌트 lighthouse 점수 개선 (#1376)
  packages/ui/src/components/Img.svelte
Owners: @Seohyun-Roh, @dolsup

사이트 로고 없을 경우 빈 favicon 보여줌 (#1377)
  apps/usersite/src/routes/(default)/+layout.svelte
Owners: @Seohyun-Roh, @dolsup

progressive image preload 함 (#1378)
  packages/ui/src/components/Img.svelte
  packages/ui/src/tiptap/components/TiptapRenderer.svelte
  packages/ui/src/tiptap/lib/create.ts
  packages/ui/src/tiptap/lib/html.ts
Owners: @Seohyun-Roh, @dolsup

trpc 통신 프로토콜 개선 (#1379)
  apps/api/package.json
  apps/api/src/trpc/index.ts
  apps/api/src/trpc/trpc.ts
  bun.lockb
  sdks/browser-sdk/package.json
  sdks/browser-sdk/src/trpc.ts
Owners: @devunt, @robin-maki

trpc widget.site 쿼리 추가 (#1380)
  apps/api/src/trpc/widget.ts
  sdks/browser-sdk/src/App.svelte
  sdks/browser-sdk/src/Widget.svelte
  sdks/browser-sdk/src/script.ts
Owners: @devunt, @robin-maki

위젯 rollup 빌드 옵션에 alias 추가 (#1381)
  sdks/browser-sdk/svelte.config.js
  sdks/browser-sdk/tsconfig.json
  sdks/browser-sdk/vite.config.ts
Owners: @devunt

trpc widget.chat 뮤테이션 추가 (#1383)
  apps/api/package.json
  apps/api/src/external/langchain.ts
  apps/api/src/llms/chat.ts
  apps/api/src/trpc/widget.ts
  bun.lockb
  cspell.json
Owners: @devunt, @robin-maki

위젯 기존 기능에 디자인 입힘 (#1382)
  sdks/browser-sdk/src/Widget.svelte
  sdks/browser-sdk/src/assets/Sparkle.svelte
  sdks/browser-sdk/src/assets/SparkleSmall.svelte
  sdks/browser-sdk/src/assets/readable-logo.svg
Owners: @devunt

자잘한 코드 개선 (#1384)
  apps/dashboard/package.json
  apps/dashboard/src/hooks/client.ts
  apps/dashboard/src/hooks/common.ts
  apps/dashboard/src/hooks/server.ts
  apps/dashboard/src/lib/analytics/index.ts
  apps/usersite/package.json
  apps/usersite/src/hooks/client.ts
  apps/usersite/src/hooks/common.ts
  apps/usersite/src/hooks/server.ts
  apps/usersite/src/routes/(default)/SearchBar.svelte
  apps/website/package.json
  apps/website/src/hooks/client.ts
  apps/website/src/hooks/common.ts
  apps/website/src/hooks/server.ts
  bun.lockb
  packages/lib/src/vite/plugins/svg.js
  packages/ui/src/tiptap/components/TiptapEditor.svelte
  packages/ui/src/tiptap/components/TiptapRenderer.svelte
Owners: @Seohyun-Roh, @dolsup, @devunt

데이터 큰 이모지 번들 분리함 (#1385)
  packages/ui/src/tiptap/node-views/callout/Component.svelte
  packages/ui/src/tiptap/node-views/callout/Emoji.svelte
  packages/ui/src/tiptap/node-views/callout/Picker.svelte
Owners: @Seohyun-Roh, @dolsup

SUIT 폰트 preload함 (#1386)
  apps/dashboard/src/app.html
  apps/usersite/src/app.html
  apps/website/src/app.html
Owners: @Seohyun-Roh, @dolsup

progressive img 로딩 최적화 (#1387)
  packages/ui/src/components/Img.svelte
Owners: @Seohyun-Roh, @dolsup

빌드 파이프라인 전체 재작성 (#1388)
  .dockerignore
  Dockerfile
  apps/api/package.json
  apps/api/pulumi/index.ts
  apps/api/tsup.config.ts
  apps/dashboard/package.json
  apps/dashboard/pulumi/index.ts
  apps/infrastructure/package.json
  apps/literoom/package.json
  apps/usersite/package.json
  apps/usersite/pulumi/index.ts
  apps/website/package.json
  apps/website/pulumi/index.ts
  bun.lockb
  packages/adapter-bun/package.json
  packages/adapter-bun/src/index.js
  packages/adapter-bun/src/serve.js
  packages/gql/package.json
  packages/lib/package.json
  packages/lintconfig/package.json
  packages/pulumi/package.json
  packages/ui/package.json
  packages/ui/src/components/Img.svelte
  sdks/browser-sdk/package.json
Owners: @devunt, @robin-maki, @Seohyun-Roh, @dolsup

api build 스크립트 추가 (#1389)
  apps/api/package.json
Owners: @devunt, @robin-maki

gql vite 플러그인 빌드 오류 수정 (#1390)
  packages/gql/tsup.config.ts
Owners: @devunt

도커 캐시에 gha 사용 (#1391)
  .github/workflows/cd-dev.yml
  .github/workflows/cd-prod.yml
Owners: @devunt

llm.chat.ask 리턴값 타이핑함 (#1393)
  apps/api/src/llms/chat.ts
Owners: @devunt, @robin-maki

존재하는 사이트 주소로 변경 시도 시 토스트 띄움 (#1392)
  apps/dashboard/src/routes/(default)/[teamId]/[siteId]/settings/(index)/+page.svelte
Owners: @Seohyun-Roh, @dolsup

.github/CODEOWNERS:

* @devunt
/apps/api/ @devunt @robin-maki
/apps/dashboard/ @Seohyun-Roh @dolsup
/apps/infrastructure/ @devunt
/apps/literoom/ @devunt
/apps/usersite/ @Seohyun-Roh @dolsup
/apps/website/ @Seohyun-Roh @dolsup
/packages/adapter-bun/ @devunt
/packages/gql/ @devunt
/packages/lintconfig/ @devunt
/packages/pulumi/ @devunt
/packages/styled-system/ @Seohyun-Roh @dolsup
/packages/tsconfig/ @devunt
/packages/ui/ @Seohyun-Roh @dolsup
